@font-face {
  font-family: 'DB adman X';
  src: url('DB-Adman=X.ttf') format('truetype');
}
@font-face {
  font-family: 'Gilroy';
  src: url('Gilroy-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  overflow-x: hidden;
  height: auto;
}


.top-bar {
  width: 100%;
  max-width: 1920px;
  height: 5rem;
  min-height: 60px;
  background: white;
  box-shadow: 0px 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.top-bar a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

/* Topbar Texts */
#logosoftcolor {
  position: absolute;
  top: 0.9rem;
  left: 1.7rem;
  width: 5.1rem;
  height: 4rem;
  background: url('Logo soft color.png') no-repeat;
  background-size: contain;
}

#t1, #t2, #t3, #t4, #t5, #t6, #t7 {
  font-family: 'DB Adman X';
  font-size: clamp(1rem,5vw,1.8rem);
  color: #585858;
  white-space: nowrap;
}

.displayFlex {
display: flex;
gap: 1.5rem;
margin-left: 15%;
}

.displayFlex2 {
  display: flex;
  gap: 0.6rem;
  margin-left: 69.75rem;
  }

#t5, #t6 ,#t7 {
  font-size: 1.3rem;
  font-family: 'Gilroy'; 
}


.nav-link{
 text-decoration: none;
 color: #585858;
 transition: opacity 0.5s ease; 
}

.nav-link:hover {
  opacity: 0.6;
}

/* Content */
.container {
  max-width: 1920px;
  margin: 0 auto;
  background: white;
  padding-top: 6%;
}

.img5, .img6 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: auto;
}

.img6 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: auto;
  position: rela;
}

.img1, .img4, .img5 {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1920px;
  height: auto;
}

.img5, .img7 {
  display: flex;
  margin: 0 auto;
  width: 70%;
  max-width: 1920px;
  height: auto;
}

.img1, .img4 {
  margin-top: 1rem;
  border-radius: 20px;
}

.Video-Liff {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0;
  height: auto;
  border: none;
}

.video {
  width: 100%;
  margin: 0;
  height: auto;
  display: block;
  padding: 0;
}

/* Image Row */
.image-row {
  display: flex;
  justify-content: center;
  gap: 0px;
  max-width: 1920px;
  margin: 0;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row-img {
  margin-top: 3rem;
  width: 67%;
  height: auto;
  border-radius: 20px;
}

.caption {
  margin-top: 0.5rem;
  font-size: 2.5rem;
  font-family: 'DB Adman X';
  color: #585858;
}

.caption2 {
  padding: 0.5rem;
  font-size: clamp(1rem,4vw,2rem);
  font-family: 'Gilroy';
  text-align: center;
  color: #585858;
}


section {
  padding: 100px 20px;
  height: 600px;
}


html {
scroll-behavior: smooth;  
}

.contact-icons {
position: absolute;
bottom: 15%; 
left: 1.8rem;
display: flex;
flex-direction: column;
gap: clamp(0.6rem, 2vw, 0.1rem);
z-index: 10;
font-size: clamp(1rem, 2vw, 1rem);
}

.icon-row {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.5s ease;

}

.icon-row:hover {
opacity: 0.8;
}

.imgicon1, .imgicon2, .imgicon3, .imgicon4 {
  width: 8%;
  height: auto;
  margin-right: 0.5rem;
  max-width: 15%;
}

.icon-text, .icon-text2, .icon-text3, .icon-text4 {
  color: #585858;
 font-family: Gilroy;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0;
}

/* MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA */
/* MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA */
/* MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA */
/* MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA  MEDIA MEDIA */


@media (max-width: 375px){
  body {
  font-size: 0.5rem;
  padding: 0;
  }
  
.top-bar {
  width: 100%;
  max-width: 1920px;
  height: 0rem;
  min-height: 40px;
  background: white;
  box-shadow: 0px 0.3rem 0.5rem rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  z-index: 100;
}

.top-bar a{
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

/* Topbar Texts */
#logosoftcolor {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 2rem;
  height: 4rem;
  background: url('Logo soft color.png') no-repeat;
  background-size: contain;
}

#t1, #t2, #t3, #t4, #t5, #t6, #t7 {
  font-family: 'DB Adman X';
  font-size: clamp(1rem,5vw,1rem);
  color: #585858;
  white-space: nowrap;
}

.displayFlex {
display: flex;
gap: 1rem;
margin-left: 15%;
}

.displayFlex2 {
  display: flex;
  gap: 0.6rem;
  margin-left: 69.75rem;
  }

#t5, #t6 ,#t7 {
  font-size: 1.3rem;
  font-family: 'Gilroy'; 
}


.nav-link{
 text-decoration: none;
 color: #585858;
 transition: opacity 0.5s ease; 
}

.nav-link:hover {
  opacity: 0.6;
}

/* Content */
.container {
  max-width: 1920px;
  margin: 0 auto;
  background: white;
  padding-top: 6%;
}

.img5, .img6 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: auto;
}

.img6 {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 1920px;
  height: auto;
  position: rela;
}

.img1, .img4, .img5 {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 1920px;
  height: auto;
}

.img5, .img7 {
  display: flex;
  margin: 0 auto;
  width: 70%;
  max-width: 1920px;
  height: auto;
}


.Video-Liff {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0;
  height: auto;
  border: none;
}

.video {
  width: 100%;
  margin: 0;
  height: auto;
  display: block;
  padding: 0;
  max-width: 100%;
  height: auto;
}

/* Image Row */
.image-row {
  display: flex;
  justify-content: center;
  gap: 0px;
  max-width: 1920px;
  margin: 0;
}

.image-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row-img {
  margin-top: 1rem;
  width: 75%;
  height: auto;
  border-radius: 10px;
  max-width: 75%;
}

.caption {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: 'DB Adman X';
  color: #585858;
}

.caption2 {
  padding: 0.5rem;
  font-size: clamp(1rem,4vw,2rem);
  font-family: 'Gilroy';
  text-align: center;
  color: #585858;
}


section {
  padding: 100px 20px;
  height: 600px;
}


html {
scroll-behavior: smooth;  
}

.contact-icons {
position: absolute;
bottom: 18.5%; 
left: 0.7rem;
display: flex;
flex-direction: column;
gap: clamp(0.2rem, 1vw, 0.1rem);
z-index: 10;
font-size: clamp(0.5rem, 2vw, 1rem);
}

.icon-row {
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.icon-row:hover {
opacity: 0.8;
}

.imgicon1, .imgicon2, .imgicon3, .imgicon4 {
  width: 5%;
  height: auto;
  margin-right: 0.5rem;
  max-width: 15%;
}

.icon-text, .icon-text2, .icon-text3, .icon-text4 {
  color: #585858;
 font-family: Gilroy;
}

.image-wrapper {
  position: relative;
  width: 100%;
  max-width: 1920px;
  margin: 0;
 }

}
